## Feature engineering

What Drives the Price of Gasoline? 
Gasoline prices can fluctuate for many reasons but the most important ones include the following: 
1. Crude oil prices (~crude oil price t-1)
2. Refining costs and profits (?)
3. Distribution and miscellaneous costs (?)
4. Seasonal demand (~time)
5. Political events (~Google News --> high noise and close to stationary)
6. Global demand picture (~S&P 500)

Source: https://commodity.com/energy/rbob-gasoline/

In [77]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.pylab as pylab
plt.style.use('bmh')
params = {'legend.fontsize': 'x-large',
          'figure.figsize': (20, 10),
         'axes.labelsize': 'x-large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}
from IPython.core.display import display, HTML
pylab.rcParams.update(params)
display(HTML("<style>.container { width:80% !important; }</style>"))

In [78]:
df = pd.read_csv("rb_c_d.csv")
df.rename(columns={"Otwarcie":"Open","Najwyzszy":"y","Najnizszy":"Low","Zamkniecie":"Close","Data":"Date"},inplace=True)
df['Date'] =  pd.to_datetime(df['Date'])
df = df[df.Date>="2010-01-01"]
df.set_index("Date",inplace=True)
df = df[["y"]]

### Time

In [79]:
df["day_of_week"] = df.index.dayofweek
df["day_of_year"] = df.index.dayofyear
df["week"] = df.index.week
df["quarter"] = df.index.quarter
df["month"] = df.index.month

In [80]:
df.head()

                 y  day_of_week  day_of_year  week  quarter  month
Date
2010-01-04  2.0856            0            4     1        1      1
2010-01-05  2.1137            1            5     1        1      1
2010-01-06  2.1228            2            6     1        1      1
2010-01-07  2.1200            3            7     1        1      1
2010-01-08  2.1450            4            8     1        1      1

### S&P

In [81]:
df_sandp = pd.read_csv("spx_d.csv")

In [82]:
df_sandp['Date'] =  pd.to_datetime(df_sandp['Date'])
df_sandp.set_index("Date",inplace=True)

In [83]:
df_sandp = df_sandp.add_prefix("S&P_")

In [84]:
df = pd.merge(df,df_sandp,left_index=True,right_index=True,how="left")

### Crude Oil

In [85]:
df_co = pd.read_csv("cl_c_d.csv")
df_co.rename(columns={"Otwarcie":"Open","Najwyzszy":"High","Najnizszy":"Low","Zamkniecie":"Close","Data":"Date"},inplace=True)
df_co = df_co[["Date","Close"]]

In [86]:
df_co['Date'] =  pd.to_datetime(df_co['Date'])
df_co.set_index("Date",inplace=True)

In [87]:
df_co = df_co.add_prefix("CO_")

In [88]:
df = pd.merge(df,df_co,left_index=True,right_index=True,how="left")

In [89]:
del df_sandp, df_co

### Gasoline RBOB - futures

In [103]:
tmp = pd.read_csv("rb_f_d.csv")
tmp['Date'] =  pd.to_datetime(tmp['Date'])
tmp = tmp[tmp.Date>="2010-01-01"]
tmp.set_index("Date",inplace=True)
tmp = tmp.add_prefix("RBOB_f__")
df = pd.merge(df,tmp,left_index=True,right_index=True,how='left')

### DF

In [104]:
df.head()

,y,day_of_week,day_of_year,week,quarter,month,S&P_Open,S&P_High,S&P_Low,S&P_Close,S&P_Volume,CO_Close,RBOB_f__Open,RBOB_f__High,RBOB_f__Low,RBOB_f__Close,RBOB_f__Volume,RBOB_f__OpenInt
Date,,,,,,,,,,,,,,,,,,
2010-01-04,2.0856,0,4,1,1,1,1115.10,1133.87,1115.10,1132.99,8.201090e+08,81.51,2.0750,2.1136,2.0671,2.1044,66994,232937.0
2010-01-05,2.1137,1,5,1,1,1,1132.99,1136.63,1129.66,1136.52,9.743752e+08,81.77,2.1111,2.1315,2.1004,2.1250,78884,239903.0
2010-01-06,2.1228,2,6,1,1,1,1136.52,1139.19,1133.95,1137.14,9.150847e+08,83.18,2.1187,2.1462,2.0933,2.1366,101809,246666.0
2010-01-07,2.1200,3,7,1,1,1,1137.14,1142.46,1131.32,1141.69,1.046512e+09,82.66,2.1400,2.1455,2.1212,2.1349,92094,251785.0
2010-01-08,2.1450,4,8,1,1,1,1141.69,1145.39,1136.22,1144.98,8.609633e+08,82.75,2.1370,2.1720,2.1162,2.1553,81527,256842.0